sphinx==4.1.1
sphinx-rtd-theme==0.5.2
sphinx-autodoc-typehints==1.12.0
matplotlib==3.2.1
nbsphinx==0.8.7
pandoc==2.0.1
pandocfilters==1.5.0
ipython==7.30.1
ipykernel==6.6.0
# Needed to get autodoc to link correctly
#.
